<html>
	<head>
		<title>Church Directory</title>
	</head>
	<body>
		<h4>Church Directory</h4>
		<br>
		{% for person in people %}
			<div>
				<h5>{{ person.last_name }}, {{ person.first_name }}</h5>

				<img class="directoryPicture" src="/{{ person.picture }}"/>
				<br>

				{% if person.address_line1 %}
					{{ person.address_line1 }}
					<br>
				{% endif %}

				{% if person.address_line2 %}
					{{ person.address_line2 }}
					<br>
				{% endif %}

				{% if person.unit_number %}
					Unit #{{ person.unit_number }}
					<br>
				{% endif %}

				{% if person.home_number %}
					<div class="fieldTitle">Home #</div>
					{{ person.home_number }}
					<br>
				{% endif %}

				{% if person.cell_number %}
					<div class="fieldTitle">Cell #</div>
					{{ person.cell_number }}
					<br>
				{% endif %}
			</div>
			<hr>
		{% endfor %}
	</body>
</html>
